.ycm_extra_conf.py*
tags
.ctags
libcld2/
libcld2.so
libcld2_full.so
.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
cld2.la
cld2wrapper.lo
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libcld2.lo
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
*.loT
*.lo
